@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html{
    min-height: 100vh;
}

body {
    font-family: 'Bangers', cursive;
    background: linear-gradient(#ffa17f, #00223e);
    animation: fadeIn linear 4s;
    -webkit-animation: fadeIn linear 4s;
    -moz-animation: fadeIn linear 4s;
    -o-animation: fadeIn linear 4s;
    -ms-animation: fadeIn linear 4s;
}
    
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

header ul li a.active,
header ul li a:hover {
    background: none;
    color: #00223e;
    transform: translateY(-5px);
}
