@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    font-family: 'Bangers', cursive;
    font-size: 2em;
    background: linear-gradient(#1d4350,#a43931);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3em;
    position: absolute;
    top: 0;
    margin-left: 45%;
    text-decoration-line: underline;
  }
#images{
    height: 400px;
    width: 320px;
    margin-top: 100px;
}
#images:hover{
    cursor: pointer;
}
ul{
    list-style-type: none;
}

.single-img{
    padding: 0px 30px 30px;
}
#book1{
    position: absolute;
    top: 0;
    right: 0;
}
#booktop, #book1{
    height: 150px;
    width: 200px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  
  {
    .img-area{
      display: grid;
      grid-template-columns: repeat(2,auto);
      justify-content: center;
      margin-top: 30px;
    }
    #images{
        height: 300px;
        width: 250px;
    }
}