html{
  min-height: 100vh;
}

body{
    background: url(../img/favo.png),linear-gradient(#333333,#dd1818);
    background-repeat: no-repeat;
    background-position: center;
    
}
header ul li a {
  color: rgba(236,3,4)
}
header ul li a.active,
header ul li a:hover {
    background: rgba(236,3,4, 0.2);
    color: rgba(236,3,4);
    border-radius: 30px;
    transform: translateY(-5px);
}
  #books, #movies{
    font-size: 2em;
  }
  #booksPlaceHolder, #moviesPlaceHolder{
    list-style-type: none;
    text-decoration: underline;
    opacity:0.7;
    font-size: 26px;
  }
  #booksPlaceHolder:hover{
    opacity: 1;
  }
  #moviesPlaceHolder:hover{
    opacity: 1;
  }