@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
    background: radial-gradient(rgba(216,178,191,0.5),rgba(160, 132, 142, 0.7));
    font-family: 'Bangers', cursive;
    height: 100vh;
    text-align: center;
}

#page-title {
    color: rgb(171, 126, 126);
    font-size: 40px;
    margin-bottom: 5%;
}

button{
    margin-top: 5%;
    background: none;
    border: none;
}
.form-control{
    border-radius: 20px;
    height: 25px;
    width:350px;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));
    border: none;
    margin-bottom: 5px;
}
.form-label{
    font-size:20px;
}
h2{
    display: none;
    /* border: solid; */
    color: sienna;
    margin-top: 7%;

}